.menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-radius: var(--rounded-10);

	&Wrapper {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
		align-items: flex-end;
		width: 100%;
	}
}

.list {
	padding: 0;
	margin: 0;
}
