{
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "react-hooks", "@typescript-eslint", "prettier"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/no-unescaped-entities": "off",
    "react/prop-types": "off",
    "react/display-name": ["off", { "ignoreTranspilerName": true }],
    "no-console": "error",
    "quotes": ["warn", "single"],
    "jsx-quotes": ["warn", "prefer-single"],
    "no-empty": [
      "warn",
      {
        "allowEmptyCatch": true
      }
    ],
    "no-empty-function": "warn",
    "array-bracket-spacing": "warn",
    "comma-dangle": [
      "warn",
      {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ],
    "keyword-spacing": [
      "warn",
      {
        "after": true
      }
    ],
    "no-else-return": "warn",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "arrow-spacing": "warn"
  }
}
