@import "@/styles/mixins";

.listItem {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: flex-end;
	padding: 0 15px;
	cursor: pointer;
	border-radius: var(--rounded-20);

	&:not(:last-child) {
		margin-bottom: 10px;
	}

	&:active {
		background-color: var(--neon-20);
	}

	@media screen and (min-width: 1180px) {
		padding: 0 10px 0 25px;

		@include isHover() {
			&:hover {
				background-color: var(--neon-20);
			}
		}
	}
}

.listLink {
	&::first-letter {
		text-transform: uppercase;
	}

	@media screen and (max-width: 1180px) {
		display: none;
	}
}
