.home {
	display: grid;
	grid-row-gap: 10px;
	grid-column-gap: 30px;
	height: 100%;

	@media screen and (min-width: 1085px) {
		grid-template-rows: 189px 572px;
		grid-template-columns: 560px 340px;
	}
}
