@import "@/styles/mixins";

.recipe {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	color: var(--light-10);
	cursor: pointer;
	background-color: var(--dark-10);
	border-radius: var(--rounded-10);

	@include isHover() {
		transition: transform var(--transitionTime) ease;

		&:hover {
			transform: scale(var(--scale));
		}
	}

	&Header {
		width: 130px;
		height: 130px;
		margin: -60px auto 15px auto;
	}

	&Image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&Footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&Title {
		margin: 0 0 10px 0;
		font-size: 19px;
		text-align: center;
		text-transform: capitalize;
	}

	&Information {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;

		&Item {
			width: 40px;
			font-size: 13px;
			line-height: 1.2;
			color: var(--light-20);
			text-align: center;

			&::first-letter {
				text-transform: uppercase;
			}
		}
	}
}
