.articles {
	padding: 10px;
	overflow: auto;

	&Header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 35px;
	}

	&Wrapper {
		display: flex;
		flex-direction: column;
	}
}
