@import "mixins.scss";
@import "variables.scss";
@import "reset.scss";

body {
	height: 100%;
	font-family: var(--poppins-font);
	font-weight: $fw-regular;
	color: var(--light-10);
	background: linear-gradient(45deg, var(--dark-10), var(--dark-20));

	@include customScrollbar();
}
