@import "@/styles/mixins";

.article {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-column-gap: 10px;
	align-items: flex-start;
	cursor: pointer;

	@include isHover() {
		transition: transform var(--transitionTime) ease;

		&:hover {
			transform: scale(var(--scale));
		}
	}

	&:not(:last-child) {
		margin-bottom: 21px;
	}

	&Image {
		object-fit: cover;
		border-radius: var(--rounded-10);
	}

	&Title {
		display: flex;
	}
}
